@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Highway Gothic', sans-serif;
  src: local('HWYGOTH'), url('../fonts/HWYGOTH.TTF') format('ttf');
}

.img-bg {
  background-image: url('../img/background-image.jpg');
  background-size: cover;
}

.header-content {
  font-family: Highway Gothic;
  padding: 2rem;
}

.header-container {
  width: 100%;
  height: 50%;
  display: grid;
}

.header-block {
  width: 100%;
  height: 100%;
  background-color: #eae7dc;
}

.separator {
  position: relative;
  width: 100%;
  height: 50%;
}

.separator::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #eae7dc;
  clip-path: polygon(100% 0, 0 0, 0 100%);
}

.separator.reverse {
  transform: rotateY(180deg);
}

.header-content,
.header-block {
  grid-area: 1 / 1;
}

.header-items {
  font-family: Highway Gothic;
  position: absolute;
  width: 90%;
  top: 5%;
  padding-left: 10px;
}

.header-items h1 {
  font-size: xx-large;
  margin: 40px 0;
  text-align: center;
}

.ellipsis {
  display: flex;
  justify-content: flex-end;
}

.swivel:hover {
  transform: rotate(90deg);
}

.tooltipMenu {
  width: 90%;
}

.tooltipMenu ul li {
  color: #1a202c;
  padding: 10px 20px 10px 20px;
  font-size: 24px;
  width: 100%;
  background: #d8c3a5;
}

.tooltipMenu ul {
  box-shadow: 5px 5px 20px grey;
}

.tooltipMenu ul li:hover {
  background: #1a202c;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.tooltip {
  width: 12rem;
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin-right: 0.5rem;
}

.tooltipMenu {
  visibility: hidden;
  position: absolute;
  z-index: 1;
}

.ellipsis:hover .tooltipMenu {
  visibility: visible;
  cursor: pointer;
}

.leftSide {
  right: -25%;
  top: 25%;
}

/* .circle {
  position: absolute;
  background-color: #fff;
  border: 1px solid red;
  height: 100px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 100px;
  text-align: center;
} */

.btn-container {
  position: absolute;
  right: 15%;
  top: 30%;
}

.circle {
  background: #8e8d8a;
  border-radius: 50%;
  border: 5px solid white;
  color: black;
  display: table;
  height: 125px;
  width: 125px;
  margin: 0 auto;
}
.circle span {
  color: white;
  display: table-cell;
  vertical-align: middle;
  height: 115px;
  width: 125px;
  text-align: center;
}

.input {
  margin: 40px 60px;
}

.switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 50px;
  height: 26.5px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.switch-label .switch-button {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 22.5px;
  height: 22.5px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switch-checkbox:checked + .switch-label .switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.switch-label:active .switch-button {
  width: 60px;
}

.bottom-block {
  position: relative;
  height: 50%;
  width: 100%;
}

.list-container {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
